<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hosinsa.mapper.AdminMapper">

<update id="update">
	UPDATE HOSINSA_PRODUCT SET
	PRONAME=#{proname}, BRAND=#{brand},	STOCK=#{stock}, PRICE=#{price}, DETAIL=#{detail}, UPDATE_DATE=SYSDATE
	where PRONUM=#{pronum}
</update>

<delete id="delete">
	DELETE FROM HOSINSA_PRODUCT WHERE PRONUM=#{pronum}
</delete>

<insert id="register">
	INSERT INTO HOSINSA_PRODUCT (CATEGORY,PROIMG,PRONUM,PRONAME,BRAND,STOCK,PRICE,DETAIL,REGDATE,UPDATE_DATE)
	VALUES (#{category},#{proimg}, #{pronum}, #{proname}, #{brand}, #{stock}, #{price}, #{detail}, SYSDATE, SYSDATE)
</insert>

<select id="checkPronum" resultType="int">
	SELECT COUNT(PRONUM) FROM HOSINSA_PRODUCT WHERE PRONUM=#{pronum}
</select>

</mapper>