<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hosinsa.mapper.BoardMapper">
<!-- Event Board -->	
	<!-- getListWithPagingEvent -->
	<select id="getListWithPagingEvent" resultType="com.hosinsa.domain.BoardEventVO">
		<![CDATA[
			SELECT EVENT_NO, EVENT_IMG, TITLE, CONTENT, SUBTEXT, START_DATE, END_DATE, REGDATE, UPDATE_DATE, WRITER, EVENT_PW
			FROM
				(SELECT /*+ INDEX_DESC(HOSINSA_BOARD_EVENT PK_HOSINSA_BOARD_EVENT) */
				ROWNUM RN, EVENT_NO, EVENT_IMG, TITLE, SUBTEXT, CONTENT, START_DATE, END_DATE, REGDATE, UPDATE_DATE, WRITER, EVENT_PW
				FROM HOSINSA_BOARD_EVENT WHERE ROWNUM <= #{pageNum} * #{amount})				
			WHERE RN > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	<!-- readEvent -->
	<select id="readEvent" resultType="com.hosinsa.domain.BoardEventVO">
		SELECT * FROM HOSINSA_BOARD_EVENT WHERE EVENT_NO = #{event_no}
	</select>
	<!-- registerSelectKeyEvent -->
	<insert id="registerSelectKeyEvent">
		<selectKey keyProperty="EVENT_NO" order="BEFORE" resultType="Long">
			SELECT BOARD_EVENT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO HOSINSA_BOARD_EVENT(EVENT_NO, EVENT_IMG, ,TITLE, SUBTEXT,  CONTENT, START_DATE, END_DATE,
			REGDATE, UPDATE_DATE, WRITER, EVENT_PW)
			VALUES(#{event_no}, #{event_img}, #{title}, #{subtext}, #{content}, #{start_date}, #{end_date},
				#{regdate}, #{update_date}, #{writer}, #{event_pw})
	</insert>
	<!-- modifyEvent -->
	<update id="modifyEvent">
		UPDATE HOSINSA_BOARD_EVENT
		SET EVENT_IMG = #{event_img},
		TITLE = #{title},
		SUBTEXT = #{subtext}
		CONTENT = #{content},
		START_DATE = #{start_date},
		END_DATE = #{end_date},
		UPDATE_DATE = SYSDATE
		WHERE EVENT_NO = #{event_no}
	</update>
	<!-- removeEvent -->
	<delete id="removeEvent">
		DELETE FORM HOSINSA_BOARD_EVENT WHERE EVENT_NO = #{event_no}
	</delete>
	<!-- getTotalCountEvent -->
	<select id="getTotalCountEvent" resultType="int">
		SELECT COUNT(*) FROM HOSINSA_BOARD_EVENT WHERE EVENT_NO > 0
	</select>
	<!-- getListMainEvent -->
	<select id="getListMainEvent" resultType="com.hosinsa.domain.BoardEventVO">
		<![CDATA[
			SELECT EVENT_NO, EVENT_IMG, TITLE, CONTENT, SUBTEXT, START_DATE, END_DATE, REGDATE, UPDATE_DATE, WRITER, EVENT_PW
				FROM 
				(SELECT * FROM HOSINSA_BOARD_EVENT WHERE START_DATE <= SYSDATE
					 AND SYSDATE <= END_DATE)				
			WHERE ROWNUM <= 3
		]]>
	</select>
	
	
</mapper>