<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hosinsa.mapper.QnaMapper">
<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							qtitle like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							qcontent like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							id like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="getList" resultType="com.hosinsa.domain.QnaVO">
		select * from hosinsa_qna where qno > 0 order by qno desc
	</select>
	
		<select id="getListWithPaging"
		resultType="com.hosinsa.domain.QnaVO">
  <![CDATA[
   select 
     qno, qcategory, qtitle, qcontent, id, qwritedate
   from 
       (
       select /*+INDEX_DESC(hosinsa_qna pk_qna) */
         rownum rn, qno, qcategory, qtitle, qcontent, id, qwritedate
       from 
         hosinsa_qna
      where
  ]]>
		<include refid="criteria"></include> 
			
		
		<![CDATA[
		 rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount} 
   ]]>
	</select>
	
	
	<insert id="insert">
		insert into hosinsa_qna(qno, qcategory, qtitle, qcontent, id)
		values(seq_qna.nextval, #{qcategory}, #{qtitle}, #{qcontent}, #{id})
	</insert>


	<insert id="insertSelectKey">
		<selectKey keyProperty="qno" order="BEFORE"
			resultType="long">
			select seq_qna.nextval from dual
		</selectKey>
		insert into hosinsa_qna(qno, qcategory, qtitle, qcontent, id)
		values(#{qno}, #{qcategory}, #{qtitle}, #{qcontent}, #{id})
	</insert>
	
	
		<select id="read" resultType="com.hosinsa.domain.QnaVO">
		select * from hosinsa_qna where qno = #{qno}
	</select>
	
	<delete id="delete">
		delete from hosinsa_qna where qno = #{qno}
	</delete>
	
		<update id="update">
		update hosinsa_qna
		set
		qcategory = #{qcategory},
		qtitle= #{qtitle},
		qcontent= #{qcontent}
		where qno = #{qno}
	</update>
	
<select id="getTotalCount" resultType="int">
		select count(*) from hosinsa_qna
		where
		<include refid="criteria"></include>
		qno > 0
	</select>
	
	</mapper>