@charset "UTF-8";
header { /*background-color: aquamarine;*/ margin: 0; padding: 0; width: auto; height: 80px; }
header h1 { margin: auto;}
.slider { display: flex; /*background-color: blueviolet;*/ margin: 0; width: auto; height: 600px; }
footer { /*background-color: bisque;*/ width: auto; height: 150px; }
.login { /*background-color: beige;*/ width: 500px; height: 400px; margin: auto; border-bottom: 2px solid #e9e9e9; }
.login_box { flex-direction: column; /*background-color: aqua;*/ width: 200px; height: 300px; margin-top: 50px; margin-left: 150px; }
.login_box span { margin-left: 10px; }
.login_box input { margin-left: 10px; border: none; color: black; border-bottom: 1px solid black; }
.login_box input:focus { outline: none; }
.login_box .input_login { margin-left: 10px; color: white; text-decoration: none; background-color: #000; width: 174px; height: 40px; border: 1px solid #000;}
.login_box .input_join { margin-left: 10px; color: #000; text-decoration: none; background-color: #e9e9e9; width: 174px; height: 40px; border: 1px solid #e9e9e9;}
.join-table .join-input { width: 50px}
.join-table select { width: 60px }
/* .join-table table { margin-left:auto; margin-right:auto; }
.joinBtn2 { margin-left:auto; margin-right:auto; } */