@charset "UTF-8";
/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration:none;}

.hidden{display:none}
.headerWrap{position:relative;background:black;color:white;z-index:5}
.header{width:1400px;margin:0 auto;overflow:hidden;padding:20px 40px}
h1.logo{float:left}
h1.logo a{color:white;font-size:40px;font-weight:bold;letter-spacing:-1px;}
.header .search{width:50%;margin:10px auto 0;text-align:center}
.header .search input[type=text]{border-radius:0;padding:5px;font-size:18px;border:0;outline: none; }
.header .search button[type=submit]{border-radius:0;width:32px;height:32px;margin:0 0 0 -5px;background:black;color:white;border:1px solid #333;vertical-align:top;cursor:pointer}
.header .menu{margin-top:-40px;float:right;text-align:right;line-height:20px;}
.header .menu li{float:right;margin:2px 10px 2px 0;letter-spacing:-1px}
.header .menu li:first-child{margin-right:0}
.header .menu li.user_grade+li{clear:both;margin-right:0;}
.header .menu li a:hover{color:gray;cursor:pointer}

.mainBanner{height:512px;position:relative;margin:50px 0}
.mainBanner .bannerView{position:relative;width:1150px;height:512px;overflow:hidden;margin:0 auto}
.mainBanner li{position:absolute;bottom:0;transition:0.4s}
.mainBanner .deem{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.5);z-index:3}
.mainBanner li:nth-child(1){left:-100%;}
.mainBanner li:nth-child(2){left:50%;margin-left:-556px;transform:scale(0.8)}
.mainBanner li:nth-child(3){z-index:5;left:50%;margin-left:-256px}
.mainBanner li:nth-child(4){left:50%;margin-left:44px;transform:scale(0.8)}
.mainBanner li:nth-child(5){left:150%}
.mainBanner .arrow{position:absolute;top:220px;z-index:4;width:100%}
.mainBanner .arrow button{position:absolute;background:transparent;width:50px;height:100px;cursor:pointer;border:0;font-size:40px}
.mainBanner .arrow .left{left:50%;margin-left:-600px}
.mainBanner .arrow .right{right:50%;margin-right:-600px}

.mainWrap{width:1400px;margin:0 auto}
.category_menu{float:left;width:200px;height:400px;margin-right:50px;margin-left:20px;border-top:1px solid lightgray;}
.category_menu li{border-bottom:1px solid lightgray;}
.category_menu li a.on{font-weight:bold;background:rgb(245, 245, 245)}
.category_menu li a{display:block;width:100%;height:100%;padding:10px 15px;font-size:15px;color:black;box-sizing:border-box}
.category_menu li a:hover{background:rgb(245, 245, 245)}
.category_menu.horizental{width:100%;margin:20px 0;height:auto;}
.category_menu.horizental.tab10 li{float:left;width:10%;text-align:center;}

.bestWrap, .newWrap{float:left;margin-bottom:30px}

.bigTitle{text-align:center;font-weight:bold;font-size:24px;}
.title{clear:both;font-size:24px;font-weight:bold;letter-spacing:-1px}
.subTitle{color:gray;padding:5px 0 10px}
.list_box{ 
float:left;
	overflow:hidden;
	height:250px;
   text-align: center;
   margin:3px;
   padding-top:20px;
   border:1px solid #ddd
}
.list_box:hover{cursor:pointer;background:rgb(245, 245, 245)}

.list_box .list_img {
   width: 100%;
   height: 150px;
   padding: 0;
}

.list_box .list_img img {
   width: 125px;
   height: 150px;
   justify-content: center;
   align-items: center;
   marigin: 0 auto;
   padding: 0 auto;
}

.list_box .article_info {
   width: 100%;
   text-align: center;
   margin-top:10px
}

.list_box .pbrand {
   width: 150px;
   padding: 0 10px 0 10px;
   display: block;
   white-space:nowrap;
   text-overflow:ellipsis;
   overflow: hidden;
   font-size:14px;
   line-height:14px;
   color:gray;
   margin-bottom:0;
}

.list_box .pname{
   width: 150px;
   padding: 0 10px 0 10px;
   display: block;
   overflow: hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
   margin:5px 0;
   font-size:14px;
   color:black;
}

.list_box .price{
   width: 150px;
   height: 20px;
   marigin: 0 atuo;
   padding: 0 10px 0 10px;
   display: block;
   overflow: hidden;
   color:black;
   font-size:14px;
   font-weight:bold;
}
.list_box .view{
   width: 150px;
   padding: 0 10px 0 10px;
   display: block;
   overflow: hidden;
   font-size:14px;
   color:lightgray;
}

.productList{display:flex;justify-content:center;flex-wrap:wrap}
.sorting{clear:both;margin:50px 0 0 100px}
.sorting li{float:left;margin:0 10px 10px 0}
.sorting li a{color:lightgray;font-size:14px;cursor:pointer}
.sorting li a.on{color:black;font-weight:bold}
.sorting li a:hover{color:gray}

.mainList{clear:both}

.pagination{clear:both;width:1000px;margin:20px auto 100px;display:flex;justify-content:center}
.pagination li{float:left}
.pagination li a{display:inline-block;width:20px;height:20px;padding:10px;text-align:center;line-height:20px;color:lightgray;border:1px solid lightgray;margin-right:-1px}
.pagination li.active a{color:black;font-weight:bold;background:rgb(245,245,245)}
.pagination li.next a,.pagination li.prev a{width:auto}
.pagination li a:hover{background:rgb(245,245,245)}

.notice{float:left;margin-bottom:50px;width:calc(40% - 20px);margin-right:20px;}
.notice .title{margin-bottom:10px}
.notice ul li a,.event ul li a{display:block; white-space:nowrap;text-overflow:ellipsis;overflow: hidden;margin-bottom:10px}
.notice>a,.event>a{display:block;padding:5px 0;border:1px solid lightgray;text-align:center;cursor:pointer;}
.cs{width:calc(30% - 20px);margin-right:20px;float:left;}
.cs a{display:block;padding:10px 0;margin:10px 0;width:100%;text-align:center;border:1px solid lightgray;cursor:pointer}
.cs a:hover{cursor:pointer;background:rgb(245, 245, 245)}
.event{width:30%;float:left;}
.event .title{margin-bottom:10px}

.recent{position:fixed;top:150px;right:10px;z-index:4;}
.recent li{overflow:hidden;width:100px;height:100px;border:1px solid lightgray;margin-top:10px;text-align:center}
.recent li a{cursor:pointer}
.recent img{height:100%}
.recent>a{display:block;width:100px;height:40px;text-align:center;color:white;margin-top:10px;background:black;font-weight:bold;line-height:40px;cursor:pointer}

.contentWrap{overflow:hidden;width:1400px;margin:50px auto;}
.contentWrap .productName{float:left;background:black;width:1120px;padding:12px 5px;color:white;}
.contentWrap .imgWrap{width:500px;float:left;margin-top:10px;padding:20px 10px 15px;border:1px solid lightgray}
.contentWrap .imgWrap img{width:500px}
.miniTitle{float:left;width:500px;padding:20px 10px 10px 20px;font-size:20px;font-weight:bold;letter-spacing:-1px}
.miniTitle i{color:gray;font-size:14px;font-weight:normal;}
.infoTable{float:left;margin:0 0 10px 10px;padding-bottom:10px;width:500px;border-bottom:1px solid lightgray;}
.infoTable tr th{width:30%;letter-spacing:-1px}
.infoTable tr th::after{content:"|";float:right;color:lightgray}
.infoTable tr td{width:70%;padding:10px;text-align:left;letter-spacing:-1px}

.btnWrap{float:right;padding:20px 20px 0 0}
input.cart_quan{border-radius:0;font-size:20px;width:40px;border:1px solid lightgray;text-align:center;}
.btnWrap button{border-radius:0;height:27px;vertical-align:top;background-color:white;border:1px solid lightgray;cursor:pointer}
.btnWrap button:hover{background:rgb(245,245,245)}
.btnWrap button.cart_in{background-color:black;color:white}

.tabWrap{overflow:hidden;clear:both;text-align:center;padding:50px 0 20px;}
.tabWrap .tab{display:block;float:left;border-radius:0;border:1px solid lightgray;box-sizing:border-box;background:white;font-size:24px;letter-spading:-1px;padding:10px 0;margin-right:-1px}
.tabWrap .tab:hover{cursor:pointer;background:rgb(245,245,245)}
.tabWrap.tab2 .tab{width:50%;}

.detailView{overflow:hidden;clear:both;text-align:center}

.adminList{}
.adminList th,.adminList td{border:1px solid lightgray;padding:10px 5px}
.adminList img{max-width:50px;vertical-align:middle;}
.adminList.table1 th:nth-child(1){width:5%}
.adminList.table1 th:nth-child(2){width:5%}
.adminList.table1 th:nth-child(3){width:36%}
.adminList.table1 th:nth-child(4){width:8%}
.adminList.table1 th:nth-child(5){width:6%}
.adminList.table1 th:nth-child(6){width:5%}
.adminList.table1 th:nth-child(7){width:5%}
.adminList.table1 th:nth-child(8){width:5%}
.adminList.table1 th:nth-child(9){width:6%}
.adminList.table1 th:nth-child(10){width:7%}
.adminList.table1 th:nth-child(11){width:7%}

.footer{clear:both;background:black;padding:20px 0 50px;margin-top:50px;color:white;text-align:center}